@font-face {
    font-family: 'truenolight';
    src: url('fonts/truenolt-webfont.woff2') format('woff2'),
         url('fonts/truenolt-webfont.woff') format('woff'),
         url('fonts/truenolt-webfont.ttf') format('truetype'),
         url('fonts/truenolt-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

p{
    margin:0;
}

a:link {
    color: #4f545b;
    text-decoration: none;
}
a:visited {
    color: #4f545b;
    text-decoration: none;
}
a:hover {
    color: #8d96a3;
    text-decoration: none;
}
a:active {
    color: #8d96a3;
    text-decoration: none;
}

#container{
  margin: auto;
  max-width: 1920px;
}

#logo{
  text-align: center;
  padding: 0px 0px 0px 0px;
}

#socialmedia{
  float: right;
  position: relative;
  right: 5%;
  top: 30px;
}
.icon{
  padding-right: 8px;
}

.navlink {
  padding-left: 14px;
  padding-right: 14px;
  letter-spacing: 1px;
}
#navbar{
  text-align: center;
  font-size: 14px;
  padding: 0px 0px 20px 0px;
  font-family: 'truenolight';
}
#title{
  text-align: center;
  font-size: 65px;
  padding: 10px 0px 20px 0px;
  font-family: 'truenolight';
  color: #4f545b;
}

#gallery{
  text-align: center;
  max-width: 1920px;
  margin: auto;
}
.thumb {
  z-index: 1;
  margin: 8px;
  width: 29%;
  opacity: .92;
  font-family: 'truenolight';
}

#copyright {
  float: right;
  position: relative;
  color: #4f545b;
  top: 10px;
  right: 100px;
  font-family: 'truenolight';
  padding-bottom: 20px;
}

#subtitle {
  text-align: center;
  color: #4f545b;
  font-family: 'truenolight';
  padding-bottom: 20px;
}

#lowcase {
  text-align: center;
  color: #4f545b;
  font-family: 'truenolight';
  padding-bottom: 20px;
}

.box{
  margin: 9px auto 0;
  text-align: center;
  width:90%;
  height:1300px;
  border: 1px solid #4f545b;
  font-family: 'truenolight';
}

#writing{
  text-align: center;
  max-width: 1920px;
  margin: auto;
}
.writingthumb {
  z-index: 1;
  margin: 12px;
  width: 42%;
  opacity: .92;
  font-family: 'truenolight';
}
